@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    /* background-image:linear-gradient(252.02deg, rgba(25, 9, 45, 0.25) 56.95%, rgba(25, 9, 45, 0.988379) 70.33%, #19092D 91.39%),url(
'/images/bg.p ng') */

    background: #19092D;

}

.imgcopy{
    background-image: url(/images/video.png);
  }
  
.bg-services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/services.png')
}

.bg1 {
    background: radial-gradient(26.18% 32.52% at 31.15% 45.51%, rgba(25, 9, 45, 0.5) 0%, rgba(25, 9, 45, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        ,
        radial-gradient(26.15% 43.32% at 85.07% 52.57%, rgba(25, 9, 45, 0.4) 0%, rgba(48, 192, 241, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;

}

.signup-button {
    background: linear-gradient(125.95deg, #2598F1 3.04%, #38D9F1 100%);

}

.book-button {
    background: linear-gradient(125.95deg, #2598F1 3.04%, #38D9F1 100%);

}

/* aboutrec */
.abt1 {
    background: radial-gradient(26.18% 32.52% at 31.15% 45.51%, rgba(25, 9, 45, 0.5) 0%, rgba(25, 9, 45, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        ,
        radial-gradient(26.15% 43.32% at 85.07% 52.57%, rgba(25, 9, 45, 0.4) 0%, rgba(48, 192, 241, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;


}

.aboutrectangle {
    background-image: linear-gradient(275.59deg, rgba(25, 9, 45, 0) 21.62%, rgba(25, 9, 45, 0) 34.1%, #160827 78.06%),
        linear-gradient(180deg, rgba(25, 9, 45, 0) 45.77%, #19092D 91.27%), url('/images/abt.png');
     
    border-radius: 50px;
    overflow-y: hidden;
}

.feature {
    background: linear-gradient(116.71deg, rgba(250, 247, 253, 0.05) 3.21%, rgba(250, 246, 253, 0.04) 100%);
    width: Fixed (200px)px;
    height: Hug (120px)px;
    padding: 30px 15px 30px 15px;
    gap: 10px;
    border-radius: 18px;
    border: 1px 1px 1px 1px;
    opacity: 0px;


}
.feature:hover{
    background-color: #2598F1;
}
.trangle-bg{
  
  background-image:  url('/images/triangle.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.tgeneral{
  background: radial-gradient(26.18% 32.52% at 31.15% 45.51%, rgba(9, 127, 217, 0.5) 0%, rgba(9, 127, 217, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
radial-gradient(26.15% 43.32% at 85.07% 52.57%, rgba(9, 127, 217, 0.4) 0%, rgba(25, 9, 45, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
background-size: cover;
background-repeat: no-repeat;
background-position:top;
}
.feature-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;

}


.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

/* section header */

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.bgtext { 
    background-image: url("/images/prg.png");
} 
.aboutbg{ 
    background-image: url("/images/aboutbg.png");
} 
/* .bgtext:after { 
    margin: 3rem; 
    content: "Background text"; 
    position: absolute; 
    transform: rotate(300deg); 
    -webkit-transform: rotate(300deg); 
    color: rgb(187, 182, 182); 
    top: 0; 
    left: 0; 
    z-index: -1; 
}  */
 
.sliderbox{
background: linear-gradient(116.71deg, rgba(250, 247, 253, 0.05) 3.21%, rgba(250, 246, 253, 0.04) 100%);

}

.sliderbox:hover{
    background-color: #2598F1;
}
    /* PHONE */
   .phone{
    background-image:  url('/images/vit.png');
    background-repeat: no-repeat;
   }
 
    .testimonials-item .info {
        display: flex;
        align-items: center;
    }

    .imgz{
      background-image:  url('/images/triangle.png');
  background-repeat: no-repeat;
  background-size: cover;
    }

    .testimonials-item .name {
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 600;
        color: hsl(0, 0%, 0%);
        line-height: 1.2;

    }


    .testimonials-item .job {

        text-transform: capitalize;

        color: hsl(0, 0%, 0%);


    }

    .testimonials-item p {
        margin-top: 20px;
        color: hsl(36, 88%, 66%);


    }




    .testimonials .swiper-pagination {
        position: relative;
        margin-top: 40px;
        bottom: auto;
    }

    .testimonials .swiper-pagination-bullet {
        height: 12px;
        width: 12px;
        background-color: hsl(0, 0%, 100%);
    }

    .storyContainer{
      position: relative;
      display: inline-block;
    }

    .storyContainer img {
      display: block;
      width: 100%;
      height: auto;
    }
    .overlay-text {
      position: absolute;
      top: 55%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      background: linear-gradient(180deg, rgba(25, 9, 45, 0) 0%, #19092D 68.77%);

      color: #fff; 
      padding: 10px 20px; 
      font-size: 20px; 
    
    }
    .appcoming{
      /* background: radial-gradient(92.44% 190.07% at 97.4% 0%, rgba(250, 247, 253, 0.2) 0%, rgba(45, 179, 241, 0.48) 39%, rgba(25, 9, 45, 0.8) 82.13%) warning: gradient uses a rotation that is not supported by CSS and may not behave as expected; */

    }
    .subscribe{
      background: linear-gradient(125.95deg, #2598F1 3.04%, #38D9F1 100%);

    }
    .subscribe-button    {
        background: linear-gradient(125.95deg, #2598F1 3.04%, #38D9F1 100%);

    }